@font-face {
  font-family: "Richness";
  src: local("Richness"),
    url("./fonts/richness-demo.regular.ttf") format("truetype");
}

@font-face {
  font-family: "HKGrotesk";
  src: local("HKGrotesk"),
    url("./fonts/HKGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "HKGrotesk-Italic";
  src: local("HKGrotesk-Italic"),
    url("./fonts/HKGrotesk-LightItalic.ttf") format("truetype");
}

.App {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

h1 {
  font-family: "Richness";
  font-weight: 200;
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2.45vh;
  font-family: HKGrotesk;
}